 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

h1 {
  font-family: $helvetica;
  margin: 5% 10%;
}

.main {
  background-color: white;
  margin: 0 8%;
  padding: 1em;
}

#issues {
  padding: 1.5em;

  h1{
    color: RGBA(136, 53, 55, 1);
    display: inline-block;
    margin: 0;
  }
  h2{
    display: inline-block;
    padding: 0 .25em;
  }
  h4{
    position: relative;
    top: -6em;
    left: 90%;
  }
}

.newNew {
  background-color: black;
  color: white;
  display: none;
}
